body,html{
	height:100%;
	width:100%;
	background:url(bg.jpg) repeat;
}

.headerf{
	position:fixed;
	width:100%;
	z-index:99;
}

.im{
	height:110px;
	float:left;
	padding-top:10px;
	padding-left:4px;
}

.im:hover, #hd:hover{
	opacity: 0.7;
}

h3.as{
	color:white;
	font-family:"Times New Roman";
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}


ul.tab li {float: left;}

ul.tab li:hover {
	color:black;
}

ul.tab li a {
    display: inline-block;
    color: white;
	background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
}

ul.tab li a:hover {
	color: #000000;
	background-color: #EEEEEE;
}

ul.tab li a:focus, .active {
	color: #000000;
	background-color: #EEEEEE;
}


.Input {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

.card {
	background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px 15px;	
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 5px 5px;
}

.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #F0677C;
    text-transform: uppercase;
    color: #F0677C;
    font-size: 20px;
    margin-bottom: 20px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 188px;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    position: relative;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
	opacity: 1;
	position:relative;
	top:170px;
}

.affix {
	top: 0;
	width: 100%;
}

.affix + .container-fluid {
	padding-top: 0px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
	width:100%;
}

#myImg:hover {
	opacity: 0.7;
}

.panel-heading{
	font-size:13pt;
}

.panel-dets{
	font-size:11pt;
	border-bottom: 0.5px solid #000000;
}

.areas {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 9px;
	font-size:16pt;
}

.danger {
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 15px;
	padding: 9px;
	font-size:16pt;
}
.warning {
    background-color: #ffffcc;
    border-left: 6px solid #ffeb3b;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 15px;
	padding: 9px;
	font-size:12pt;
}

.qs {
    background-color: #FAF2F2;
    border-left: 6px solid black;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
	padding: 9px;
	font-size:14pt;
}
.ans {
    background-color: #EEEEEE;
    border-left: 6px solid #8D8888 !important;
    border: 2px solid white;
	margin-top: 5px;
	margin-bottom: 15px;
	margin-left: 100px;
	margin-right: 25px;
	padding: 9px;
	font-size:14pt;
}
.btnsu {
	position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    margin-bottom: 1px;
    overflow: hidden;
    cursor: pointer;
}
.btnsu:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.btnsu:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.btnsu:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
#s,#u,#upd,#updu,#puba,#adel,#ss,#psw,#upbox,#kickout,#kickoutu,#reset,#lo,#ques,#ans,#pubd,#updel,#suus,#mail
{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
	transition: 0.5s;
}
